.cls-1 {
  fill: url(#linear-gradient);
}

.cls-2 {
  fill: #2f2f2f;
}

.cls-11, .cls-12, .cls-13, .cls-2, .cls-4, .cls-8, .cls-9 {
  fill-rule: evenodd;
}

.cls-3 {
  opacity: 0.2;
}

.cls-4 {
  fill: none;
  stroke: #2f2f2f;
  stroke-width: 1px;
}

.cls-5 {
  font-size: 118.249px;
}

.cls-13, .cls-5, .cls-6, .cls-7 {
  fill: #fff;
}

.cls-5, .cls-6 {
  font-family: ø, Lolapeluza;
}

.cls-6 {
  font-size: 123.943px;
}

.cls-8 {
  fill: #653371;
}

.cls-10, .cls-9 {
  fill: #fdf9ff;
}

.cls-10 {
  font-size: 63.488px;
  text-anchor: middle;
  font-family: "Bebas Kai";
}

.cls-11 {
  fill: #b074ad;
}

.cls-12 {
  fill: #dd9f87;
}
