.cls-1 {
  font-size: 50px;
  fill: #fa502d;
}

.cls-1,
.cls-2,
.cls-3 {
  font-family: "Helvetica Neue";
}

.cls-2 {
  font-size: 49.839px;
  fill: #bdb60a;
}

.cls-3 {
  font-size: 26.231px;
  fill: #427eb0;
}
