@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
    overflow-x: hidden;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ddc1dc #f1e6f0;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #f1e6f0;
}

*::-webkit-scrollbar-thumb {
  background-color: #ddc1dc;
  border-radius: 10px;
  border: 3px solid #f1e6f0;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

@font-face {
  font-family: "Bebas Kai";
  src: url("/fonts/BebasKai.otf");
}
@font-face {
  font-family: "Lolapeluza";
  src: url("/fonts/Lolapeluza.ttf");
}
